<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Ubuntu:wght@500&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<style>
	.bottom-top{
		width: 100%;
		height: 0;
		border-bottom: 200px solid #212529;
		border-left: 2000px solid transparent;
  }
	.bottom{
		width: 100%;
		background-color: #212529;
		color: white;
		text-align: center;
	}
	.panda-font{
		font-family: 'Noto Sans KR', sans-serif;
		font-family: 'Ubuntu', sans-serif;
	}
	
</style>
<body>
<div class="bottom-wrap">
	<div class="bottom-top"></div>
<div class="bottom" style="width:100%;">
	<h1 class="panda-font" style="padding-top: 100px; font-size:80px;"> PANDA CLIMB </h1>
	<hr class="my-hr3" style="text-align: center;">
	
	<br>
	<div class="bottom" style="width: 100%;">

		ⓒ 2023 The Climb. All right reserved.<br>
		회사명 판다 클라임(주) 대표 하태경 대표전화 010-9179-4325, 대표 송의중 대표전화 010-2741-6139<br>
		주소 서울 특별시 어서오구 판다클라이밍으로 1층 판다클라임<br>
		사업자 등록번호 5252-82-858555 통신판매업 신고 제 2023-서울특별시-panda 호 사업자정보확인<br>
		개인정보관리책임자 하태경 (hank9323@gmail.com) 이메일 hank9323@gmail.com
		<br><br><br>
		
</div>
</div>


</body>
</html>