<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Ubuntu:wght@500&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<style>
  .my-hr3 {
    border: 0;
    height: 3px;
    background: rgb(121, 120, 120);
    text-align: center;
    width: 80%;
    margin-left:10%;
  }
</style>
<body>
<div style="width:100%;">
		<h1 style="font-family: 'Noto Sans KR', sans-serif; font-family: 'Ubuntu', sans-serif;text-align: center; font-size:80px; line-height:88px;">PANDA CLIMB <br>
		INSTRUCOR
		</h1>
		<br>
		<hr class="my-hr3" style="text-align: center; width: 80%;">
</div>	
		
</body>
</html>