<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Ubuntu:wght@500&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<style>
  .my-hr3 {
    border: 0;
    height: 2px;
    background: #00aeff;
    text-align: center;
    width: 15%;
    margin-left:43%;
  }
</style>
<body>
<div style="width:100%;">
		<h1 style="font-family: 'Noto Sans KR', sans-serif; font-family: 'Ubuntu', sans-serif;text-align: center; font-size:80px; line-height:88px;">PANDA CLIMB <br>
		INSTRUCOR
		</h1>
		<br>
		<hr class="my-hr3" style="text-align: center;">
		<br>
		<br>
		<br>
		<div class="row no-gutters row-cols-auto g-0 ">
	    <div class="col-lg-4 col-md-12"><img src="http://placekitten.com/800/500" alt=""><p style="font-weight: bold; text-align: center; padding-top: 10px;">하태경 개발자&강사</p></div>
	    <div class="col-lg-4 col-md-12"><img src="http://placekitten.com/800/500" alt=""><p style="font-weight: bold; text-align: center; padding-top: 10px;">송의중 개발자&강사</p></div>
	   	<div class="col-lg-4 col-md-12"><img src="http://placekitten.com/800/500" alt=""><p style="font-weight: bold; text-align: center; padding-top: 10px;">김경환 강사</p></div>
	   	<div class="col-lg-4 col-md-12"><img src="http://placekitten.com/800/500" alt=""><p style="font-weight: bold; text-align: center; padding-top: 10px;">전정호 강사</p></div>
</div>	
		
</body>
</html>