<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <div th:replace="/common/header.html"></div>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
<div style="padding-top:75px;"></div>
	<div class="row mt-4">
	<div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-sm-8 offset-sm-2">
		<div class="p-4 text-dark rounded  text-center">
			<h1 class="text-center">문의 글 수정</h1>
		</div>
	</div>
</div>

<div>
	<form action = "edit.do" method = "post" enctype="multipart/form-data">
		<input type = "hidden" name = "noticeNo" value = "${inquireDto.inquireNo}">
		
	<div class="row mt-4">
		<div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-sm-8 offset-sm-2">
			<div class="form-floating">
    			<input type="text" name="inquireTitle" class="form-control rounded" placeholder="제목" required value = "${inquireDto.inquireTitle}">
              		<label>
                    제목
                    </label>
			</div>
		</div>
 	</div>
 	
 	<div class="row mt-4">
		<div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-sm-8 offset-sm-2">
			<div class="form-floating">
				<textarea name="inquireContent"  required>${inquireDto.inquireContent}</textarea>
			</div>
		</div>
 	</div>
 	
 	
	<div class="mb-4 row mt-4 col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-sm-8 offset-sm-2">
		<div class=" col">
			<a href="list?inquireId=${inquireDto.inquireId}" style="background-color : #E6E6E6; color:#3E4684;" class="btn w-100" role=button>목록</a>
		</div>
		<div class=" col" >
		<button class="btn w-100 " type="submit" style="background-color : #E6E6E6; color:#3E4684;">수정하기</button>
		</div>
	</div>
	
	</form>
</body>

</html>