<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <div th:replace="/common/header.html"></div>
</head>

<body>
<div style="padding-top:75px;"></div>
<form action="goodbye.do" method="post">

	<div class="mt-4">
		<div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-sm-8 offset-sm-2">
			<div class="p-4 rounded text-center">
				<h1 class="text-center">회원 탈퇴</h1>
			</div>
		</div>
	</div>
	
	<div class="mt-4">
		<div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-sm-8 offset-sm-2">
			<div class="form-floating">
				<input type="password" name="userPw" class="form-control rounded" placeholder="비밀번호" required>
				<label>
				비밀번호
				</label>
			</div>
		</div>
	</div>

	<div class="mt-4 mb-4">
		<div class="row mt-4 col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-sm-8 offset-sm-2">
			<div class=" col">
				<a th:href="@{/user/mypage.do}" class="btn rounded w-100 " style="background-color : #E6E6E6; color:#3E4684;"  role=button>취소하기</a>
			</div>
			<div class=" col" >
			<button class="btn w-100 rounded" style="background-color : #E6E6E6; color:#3E4684;"  type="submit">탈퇴하기</button>
			</div>
		</div>
	</div>
	
	<c:if th:if="${param.error != null}">
		<div class="row text-center mt-4">
			<span style="color:red;">기존 비밀번호를 다시 확인해주세요</span>
		</div>
	</c:if>

</form>
       
	
</body>

</html>