<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <div th:replace="/common/header.html"></div>
</head>

<body>
<div style="padding-top:75px;"></div>
	<div class="row mt-4">
		<div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-sm-8 offset-sm-2">
			<div class="p-4 text-dark rounded">
				<h2 class="text-center">그동안 PANDA를 이용해주셔서 감사합니다</h2>
			</div>
		</div>
	</div>
	
	<div class="row mt-4 mb-4">
		<div class="row mt-4 col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-sm-8 offset-sm-2">
			<div class=" col">
				<a th:href="@{/user/join.do}" class = "btn w-100 mybtn"  role=button style="font-size: 23px"> 회원 가입 하기 </a>
			</div>
			<div class=" col" >
				<a th:href="@{/home/home.do}" class = "btn w-100 mybtn"  role=button style="font-size: 23px"> 메인 화면으로 이동 </a>
			</div>
		</div>	
	</div>
	
</body>

</html>